<h3> New Email </h3>
<p> 
    Enter a comma or space separated list of emails addresses you wish to invite.
</p>


<%= form_with scope: :invitation, url: invitations_path, local: true do |form| %>
  <p>
    <%= form.label :all_emails %><br>
    <%= form.text_area :all_emails, cols: "100", rows: "10" %>
  </p>


	<% if @invalids.try(:any?) %>
    <div id="error_explanation">
      <p style="color:red;">
        The following emails are not valid:
		</p>
      <ul>
        <% @invalids.each do |inv| %>
          <li style="color:red;"><%= inv %></li>
        <% end %>
      </ul>
      
    </div>
  <% end %>



  <p>
    Enter invitation text. This will be email that will be received to let these users 
    know what they are being invited to.
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message, cols: "100", rows: "10" %>
  </p>
 
  <p>
    <%= form.submit "Invite Users" %>
	<%= link_to 'Cancel', invitations_path %>
  </p>
<% end %>
